$font-family: Lexend Deca, sans-serif;
$theme: #FBD506;
$font-color: #272727 !default;
$white: #FDFDFD;
$background-secondary: #555555;
$transition-time: .4s;

// breakpoints
$Small: 576px;
$Medium: 768px;
$Large: 992px;
$XLarge: 1200px;