$font-family: Lexend Deca, sans-serif;
$theme-color: #fbd506;
$font-color: #272727 !default;
$white: #fdfdfd;
$gray-dark: #3d3d3d;
$gray-light: #eceaea;
$transition-time: 0.4s;

// breakpoints
$Small: 576px;
$Medium: 768px;
$Large: 992px;
$XLarge: 1200px;
