@import './shared/variables';
@import './shared/mixins';

#about {       
    padding: 84px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description-text {
        max-width: 800px;
        margin: 0 84px; 
        display: flex;
        align-items: center;
        padding-bottom: 84px;
        
        @include paragraph-typography;
    }

    .offer-description {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;

        .offer-item {
            width: 45%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 0 20px;
            box-shadow: 4px 4px 4px gray;
            border-radius: 16px;
            margin: 16px;

            svg {
                fill: $theme;
                height: 56px;
                width: 56px;
            }

            p {
                max-width: 80%;
                height: auto;
                @include paragraph-typography;
            }
        }
    }

    &::after {
        // content: "";
        // background-size: cover;
        // background-position: bottom;
        // background: url('../assets/description.jpg') bottom;
        // background-attachment: fixed;
        // background-size: 100%;
        // opacity: 0.1;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // position: absolute;
    }
}