@import "./shared/variables";

.hero-section {
  height: 100svh;
  width: 100%;
  background-color: $gray-dark;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    background-image: url("../assets/header.jpg");
    background-size: cover;
    background-position: center;
   background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
  }

   @media (max-width: $Large) {
    &::before {
      background-attachment: scroll;
    }
  }

  &__intro {
    width: 100%;
    display: flex;
    color: $white;
    position: absolute;
    top: 0;
    bottom: 0;

    &-content {
      max-width: 800px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      &-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        position: relative;

        &:after {
          bottom: 1;
          content: "";
          display: block;
          height: 8px;
          top: 100%;
          position: absolute;
          background: $theme-color;
          width: 100%;
          left: 5%;
          transform: skewX(40deg);
        }
      }

      &-text {
        font-size: 1.3rem;
        line-height: 2.2rem;
        letter-spacing: 1px;
        text-align: center;
        margin: 24px 64px;
      }

      &-button {
        backface-visibility: hidden;
        background: $theme-color;
        border: 0;
        border-radius: 6px;
        box-sizing: border-box;
        color: $font-color;
        cursor: pointer;
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.01em;
        padding: 1rem 2rem;
        position: relative;
        text-align: left;
        text-decoration: none;
        transform: translateZ(0) scale(1);
        transition: transform 0.2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:disabled {
          color: #787878;
          cursor: auto;
        }

        &:not(:disabled):hover {
          transform: scale(1.05);
        }

        &:not(:disabled):hover:active {
          transform: scale(1.05) translateY(0.125rem);
        }

        &:focus {
          outline: 4px solid white;
          outline-offset: 4px;
        }

        &:focus:not(:focus-visible) {
          outline: 0 solid transparent;
        }

        &:not(:disabled):active {
          transform: translateY(0.125rem);
        }
      }
    }
  }
}
