#offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 84px 0;
    

    h2 {
        margin-bottom: 40px;
        align-self: center;
        
    }

    .offers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;            
        gap: 64px;
       
    
        .offer-item {
            max-width: 300px;
            display: flex;
            border-radius: 6px;
            align-items: flex-start;
            flex-wrap: wrap;
            box-sizing: border-box;
            border: .5px solid rgba($gray-dark, .5);
            padding: 16px;
            box-shadow: 4px 4px 4px rgba($gray-dark, .5);
            

            &:hover {
                transform: scale(1.02);
            }
            

            .offer-heading {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .offer-title {
                    font-size: 1.2rem;
                    font-weight: bolder;
                    margin: 24px 0;
                }
    
                svg {
                    fill: $theme-color;
                    height: 64px;
                    width: 64px;
                }
            }
           

            p {
                width: 100%;
                height: auto;
                @include paragraph-typography;
            }
        }
    }


}