@import './shared/variables';
@import './shared/mixins';
@import './shared/animation';
@import './hero-section';
@import './about';
@import './offer';
@import './portfolio';
@import './contact';

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

  h2, h3, h4, h5 {
    font-size: 1.6em;
  }

.page-container { 
    width: 100%;
    background: $white;
    font-family: $font-family;
    overflow-x: hidden;
}
